option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    composer_options: --no-dev
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_DEBUG: true
    APP_KEY: base64:NUxQoZ1TVe+SMn2kEv6K2MCojAvP/an+ZicQOBSIDsU=
    DB_CONNECTION: rds
